.jumbotron {
  background: #ffebee;
}

.login {
  background: #d50000;
  border-width: 0;
}

.login:hover {
  background: white;
  border-width: 1;
  border-color: #d50000;
  color: #d50000;
}

.login-google {
  background: #fff;
  border-width: 0;
  border-color: black;
  color: #000;
}

.login-google:hover {
  background: #fff;
  border-width: 1;
  border-color: black;
  color: #000;
}

.formRow {
  justify-content: center;
}

.text {
  align-items: center;
  justify-content: center;
}

.link-text {
  color: #4caf50;
}

.link-text:hover {
  text-decoration-line: none;
  color: #4caf50;
}

Row {
  background: aqua;
}
