.jumbotron {
  background: #ffebee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login {
  background: #d50000;
  border: none;
  box-shadow: 1px 2px 3px #d50000b0;
}

.login:hover {
  border: none;
  background: #d50000;
  box-shadow: 2px 4px 3px #d50000b0;
}

.login:active {
  border: none;
  background: #d50000;
  transform: translate(4px);
}

.login:visited {
  border: none;
}

.login:focus {
  border: none;
  background-color: '#000';
}

.login::after {
  border: none;
}

.login-google {
  background: #fff;
  border-width: 0;
  border-color: black;
  color: #000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.login-google img {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 15px;
  vertical-align: middle;
}

.login-google:hover {
  background: #fff;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
}

.formRow {
  justify-content: center;
}

.text {
  align-items: center;
  justify-content: center;
}

.link-text {
  color: #4caf50;
}

.link-text:hover {
  text-decoration-line: none;
  color: #4caf50;
}

.error {
  color: red;
}
