#navbar {
  background: #fff;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.05);
}

.navbar-light .navbar-brand {
  color: #d50000;
  font-weight: 900;
  font-family: cursive;
  font-size: 30px;
  padding: 5px;
  justify-content: center;
  margin-right: 40px;
}

#logo {
  text-shadow: 4px 2px 8px rgba(158, 30, 30, 0.4);
}

.navbar-light .navbar-toggler {
  /* color: white; */
  border-color: #d50000;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255 ,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #000;
  background: white;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #d50000;
  background: white;
  font-weight: 700;
}

.navbar-expand-md .navbar-nav .nav-link {
  border-radius: 0.2rem;
  padding: 4px 5px;
  margin: 5px 5px;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
  border-radius: 0.2rem;
  color: black;
  background: rgba(122, 42, 42, 0.3);
}

#responsive-nav-dropdown {
  margin-right: 20px;
  padding: 10px;
  color: black;
}

img {
  padding: 5px;
  margin-right: 10px;
}

/******************** SIDEBAR *************************/

.sidebar-toggle {
  color: rgba(255, 255, 255, 1);
}

.sidebar-toggle {
  color: rgba(0, 0, 0, 1);
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: calc(100vh - 50px);
  transition: all 0.3s;
  background-color: #d50000;
  overflow: hidden;
}

.sidebar ul li a {
  display: block;
  padding: 0.75rem 4rem;
  text-decoration: none;
}

.sidebar ul ul a {
  padding-left: 2.5rem;
}

.sidebar [data-toggle='collapse'] {
  position: relative;
}

.sidebar [data-toggle='collapse']:before {
  content: '\f0d7';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  position: absolute;
  right: 1rem;
}

.sidebar.toggled {
  margin-left: -230px;
}

.sidebar-dark ul li a {
  color: rgba(255, 255, 255, 1);
}
.sidebar-dark ul ul a {
  background: rgba(0, 0, 0, 0.15);
}
.sidebar-dark ul li a:hover,
.sidebar-dark ul .active a {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.15);
}
.sidebar-dark [aria-expanded='true'] {
  background: rgba(0, 0, 0, 0.15);
}
.sidebar-light ul li a {
  color: rgba(0, 0, 0, 0.75);
}
.sidebar-light ul ul a {
  background: rgba(0, 0, 0, 0.05);
}
.sidebar-light ul li a:hover,
.sidebar-light ul .active a {
  color: rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 0.05);
}
.sidebar-light [aria-expanded='true'] {
  background: rgba(0, 0, 0, 0.05);
}

.content {
  width: 100%;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: white;
}

.sidebar-item:hover {
  font-weight: bold;
  transform: scale(1.05);
}

.sidebar-item i {
  width: 36px;
  font-size: 19px;
  margin-left: -40px;
}

.dash .sidebar-item:hover {
  background: rgba(255, 255, 255, 0.04);
  transform: scale(1.05);
}
