@import '../styles/app';

.root {
  min-height: 100%;
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
  transition: 0.3s;
  box-shadow: 1px 2px 1px $body-bg;
}

.toggled {
  min-height: 100%;
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
  box-shadow: 1px 2px 1px $body-bg;


  @include media-breakpoint-down(sm) {
    margin-left: -$sidebar-width-open;
    transition: 0.4s;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;
  width: 100%;

  a img {
    width: $sidebar-width-open - 60px;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}
